<style>
.red-border {
  border-color: red;
  border-width: 5px;
  border-style: dashed;
}
</style>
<% if @name %>
<h1> My name is <%= @name %> </h1>
<% end %>
<img class=red-border src= http://bit.ly/1eze8aE >
<form action="/named-cat">
  <input type="text" name="name" >
  <input type="submit" value="Submit" >
</form>
